/* ANIMACION DE INICIO */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .logo #img-animated {
    width: 197px;
    height: 176px;
    opacity: 0;
    animation: animate-logo 2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 67px;
    width: 940px;
    height: 740px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    animation: animate-login .5s linear forwards 2s;
  }
  
  @keyframes animate-login {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes animate-logo {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* CONTENIDO LOGIN FORM */
  
  .login{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login .header-login{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login .header-login .logo-login img{
    margin-top: 20px;
    height: 120px;
    width: 100px;
  }
  
  .login .header-login .title-login{
    text-align: center;
    width: 42rem;
  }
  
  .login .header-login .title-login h1{
    font-weight: 100;
    font-size: 45px;
    margin: 8px 0 20px 0;
  }
  
  .login .header-login .subtitle-login{
    text-align: center;
  }
  
  .login .header-login .subtitle-login p{
    width: 620px;
    height: 20px;
    font-size: 18px;
  }
  
  .inputs-login{
    display: flex;
    flex-direction: column;
  }
  
  .inputs-login .inputs-container:nth-child(1){
    margin-top: 25px;
  }
  .inputs-login .inputs-container:nth-child(2){
    margin: 25px 0 30px 0;
  }
  
  .inputs-login input{
    width: 650px;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
  }
  
  .inputs-container{
    display: flex;
    flex-direction: column;
  }
  
  .button-login button{
    width: 336px;
    height: 70px;
    border-style: none;
    color: #FFFFFF;
    font-size: 21px;
    background: #FF6F2C 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    margin-bottom: 35px;
    cursor: pointer;
  }
  
  .info-login{
    font-size: 14px;
  }