/* Estilos generales */

a {
  text-decoration: none;
}

.row-container {
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.cell {
  flex: 1; /* Las celdas ocuparán el espacio disponible en igual proporción */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indice div {
  font-weight: 500;
}

/* Estilo para el icono del menú */
.menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hover:hover {
  background-color: rgb(255, 146, 21);
  border-radius: 25px;
}

.hover:hover div {
  background-color: rgb(255, 146, 21);
  border-radius: 25px;
}

.tex-descrip {
  width: 20px;
}

.descripcion {
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background-container {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  text-align: center; /* Alinea el texto horizontalmente en el centro */
  line-height: 50px; /* Asegura que el texto esté verticalmente centrado */
  font-weight: 300;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* Utiliza una clase adicional */
.background-container.my-graph {
  /* Resto de tus estilos */
  filter: hue-rotate(240deg); /* Cambia el color a azul */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .cell {
    flex: 1; /* Las celdas ocuparán el ancho completo en pantallas pequeñas */
  }
}

.btn-container{
  text-align: center;
}

#crear-metas{
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: #FF6F2C;
  border-style: none;
  border-radius: 35px;
  width: 280px;
  height: 60px;
  margin-top: 20px;
}